player-connection-mode=Listen
player-connection-guid=17318605
player-connection-debug=0
player-connection-project-name=TeamGames]
player-connection-ip=134.83.142.64
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=04508ac724d44da2925aaa992ce119e1
